
.footer-head{
    font-family: var( --font-dm-sans);
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0.01em;
}
.footer-text{
    font-family: var( --font-dm-sans);
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.01em;
    padding: 10px 0;
}




