
.current-level-inform {
    align-self: stretch;
    position: relative;
    line-height: 32px;
    font-family: var(--ui-type-text-md-s);
  }
  .heading3 {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
  }
  .current-level-inform1 {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-xl);
    line-height: 32px;
    font-family: var(--ui-type-text-md-s);
    color: var(--brand-main-trunks);
  }
  .heading-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-smi);
    box-sizing: border-box;
    gap: var(--gap-3xs);
    max-width: 100%;
    font-size: var(--font-size-7xl);
    color: var(--gray-900);
  }
  .heading4 {
    margin: 0;
    position: relative;
    font-size: inherit;
    letter-spacing: -0.02em;
    line-height: 44px;
    font-weight: 400;
    font-family: inherit;
  }
  .button-text9,
  .we-fetch-all {
    position: relative;
    font-size: var(--ui-type-text-md-s-size);
    font-family: var(--ui-type-text-md-s);
  }
  .we-fetch-all {
    width: 468px;
    line-height: 28px;
    color: var(--brand-main-beerus);
    display: flex;
    align-items: center;
    max-width: 100%;
  }
  .button-text9 {
    line-height: 24px;
    font-weight: 500;
    color: var(--white);
    text-align: center;
    display: inline-block;
    min-width: 87px;
  }
  .mds-tw-button9 {
    cursor: pointer;
    border: 0;
    padding: var(--size-120) var(--size-160);
    background-color: var(--brand-main-piccolo);
    border-radius: var(--mds-button-radius);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    min-height: 48px;
    white-space: nowrap;
  }
  .mds-tw-button10:hover,
  .mds-tw-button11:hover,
  .mds-tw-button9:hover {
    background-color: var(--color-mediumslateblue);
  }
  .layers-minimalistic-svgrepo-co-icon {
    position: absolute;
    top: 68px;
    left: 163px;
    width: 124px;
    height: 124px;
    overflow: hidden;
  }
  .frame-child2 {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: -148.3px;
    max-height: 100%;
    width: 1111.6px;
    z-index: 1;
  }
  .layers-minimalistic-svgrepo-co-parent {
    width: 963.3px;
    height: 529px;
    position: absolute;
    margin: 0 !important;
    right: -260.3px;
    bottom: -61px;
  }
  .current-level-inform-parent,
  .heading-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .heading-group {
    width: 580px;
    border-radius: var(--br-5xl);
    background-color: var(--brand-main-popo);
    border: 1px solid var(--gray-100);
    box-sizing: border-box;
    overflow: hidden;
    padding: 204px var(--padding-xl) 54px 40px;
    position: relative;
    gap: var(--gap-5xl);
    font-size: var(--font-size-9xl);
    color: var(--white);
  }
  .current-level-inform-parent {
    position: absolute;
    top: 41px;
    left: 0;
    width: 768px;
    gap: var(--gap-3xs);
  }
  .frame-child3,
  .frame-child4 {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 79.3px;
    background: linear-gradient(
      135deg,
      rgba(179, 159, 255, 0.2),
      rgba(106, 30, 210, 0.2)
    );
    width: 232.7px;
    overflow: hidden;
  }
  .frame-child4 {
    left: 0;
    z-index: 1;
  }
  .frame-parent7 {
    height: 740px;
    flex: 1;
    position: relative;
  }
  .frame-wrapper3 {
    position: absolute;
    top: 0;
    left: 193px;
    width: 312px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .button-text10 {
    position: relative;
    font-size: var(--ui-type-text-md-s-size);
    line-height: 24px;
    font-weight: 500;
    font-family: var(--ui-type-text-md-s);
    color: var(--white);
    text-align: center;
  }
  .mds-tw-button10 {
    cursor: pointer;
    border: 0;
    padding: var(--size-120) var(--size-160);
    background-color: var(--brand-main-piccolo);
    position: absolute;
    top: 354px;
    left: 40px;
    border-radius: var(--mds-button-radius);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    min-height: 48px;
    white-space: nowrap;
  }
  .card-search-svgrepo-com-1-icon {
    width: 124px;
    height: 124px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .heading5 {
    margin: 0;
    position: relative;
    font-size: inherit;
    letter-spacing: -0.02em;
    line-height: 44px;
    font-weight: 400;
    font-family: inherit;
  }
  .we-fetch-all1 {
    width: 468px;
    position: relative;
    font-size: var(--ui-type-text-md-s-size);
    line-height: 28px;
    font-family: var(--ui-type-text-md-s);
    color: var(--brand-main-beerus);
    display: flex;
    align-items: center;
    max-width: 100%;
  }
  .frame-child5 {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    z-index: 1;
  }
  .card-search-svgrepo-com-1-parent {
    position: absolute;
    top: 0;
    left: -100px;
    width: 769.1px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 58px var(--padding-xl) 36px 140px;
    box-sizing: border-box;
    gap: var(--gap-5xl);
  }
  .mds-tw-button-parent {
    position: absolute;
    top: 184px;
    left: 0;
    border-radius: var(--br-5xl);
    background-color: var(--brand-main-popo);
    border: 1px solid var(--gray-100);
    box-sizing: border-box;
    width: 100%;
    height: 458px;
    overflow: hidden;
    z-index: 2;
  }
  .frame-parent6 {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 612px;
    width: 580px;
    font-size: var(--font-size-9xl);
    color: var(--white);
  }
  .frame-parent5,
  .heading6 {
    position: relative;
    max-width: 100%;
  }
  .frame-parent5 {
    align-self: stretch;
    height: 740px;
  }
  .heading6 {
    margin: 0;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
  }
  .data-for-good-logo-child {
    height: 277px;
    border-radius: var(--br-mini);
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .data-for-good-logo-child,
  .why-financial-wellbeing {
    align-self: stretch;
    position: relative;
  }
  .data-for-good-logo {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
  }
  .december-2023 {
    position: relative;
    color: var(--brand-main-trunks);
  }
  .appointment-reminder {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
    max-width: 100%;
  }
  .frame-icon {
    height: 277px;
    border-radius: var(--br-mini);
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .data-for-good,
  .frame-icon {
    align-self: stretch;
    position: relative;
  }
  .frame-parent9 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
  }
  .december-20231 {
    position: relative;
    color: var(--brand-main-trunks);
  }
  .appointment-reminder1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 372px;
    max-width: 100%;
  }
  .frame-child6 {
    height: 277px;
    border-radius: var(--br-mini);
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .frame-child6,
  .the-online-safety {
    align-self: stretch;
    position: relative;
  }
  .frame-parent10 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
  }
  .december-20232 {
    position: relative;
    color: var(--brand-main-trunks);
  }
  .appointment-reminder2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    min-height: 372px;
    max-width: 100%;
  }
  .heading-container,
  .input-title-component {
    align-self: stretch;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .input-title-component {
    display: grid;
    flex-direction: row;
    gap: var(--gap-15xl);
    grid-template-columns: repeat(3, minmax(281px, 1fr));
    font-size: var(--ui-type-text-md-s-size);
    color: var(--brand-main-popo);
    font-family: var(--ui-type-text-md-s);
  }
  .heading-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-xl);
  }
  .asked-questions,
  .frequently {
    margin: 0;
  }
  .frequently-asked-questions-container {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .everything-you-need,
  .to-germany {
    margin: 0;
  }
  .everything-you-need-container {
    align-self: stretch;
    position: relative;
    font-size: var(--ui-type-text-sm-s-size);
    line-height: 20px;
    font-family: var(--ui-type-text-md-s);
    color: var(--light-trunks);
  }
  .company-about {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  .button-text11 {
    position: relative;
    font-size: var(--ui-type-text-md-s-size);
    line-height: 24px;
    font-weight: 500;
    font-family: var(--ui-type-text-md-s);
    color: var(--white);
    text-align: center;
    display: inline-block;
    min-width: 116px;
  }
  .mds-tw-button11 {
    cursor: pointer;
    border: 0;
    padding: var(--size-120) var(--size-160);
    background-color: var(--brand-main-piccolo);
    border-radius: var(--mds-button-radius);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-height: 48px;
    white-space: nowrap;
  }
  .company-about-parent {
    width: 330px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xl);
    min-width: 330px;
    max-width: 100%;
  }
  .input-title {
    position: relative;
  }
  .why-financial-wellbeing-sub-he-child {
    height: 24px;
    width: 24px;
    object-fit: contain;
    min-height: 24px;
  }
  .why-financial-wellbeing-sub-he {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .component-5,
  .why-financial-wellbeing-sub-he-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-12xs) 0 0;
  }
  .component-5 {
    border-radius: var(--br-5xs);
    background-color: var(--color-mediumslateblue-100);
    border: 0.5px solid var(--dark-mode-global-cards-global);
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-2xs) var(--padding-smi);
  }
  .input-title1 {
    position: relative;
  }
  .frame-child7 {
    height: 24px;
    width: 24px;
    object-fit: contain;
    min-height: 24px;
  }
  .input-title-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .button-instance {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-12xs) 0 0;
  }
  .blank-line,
  .once-you-get,
  .when-your-appointment {
    margin: 0;
  }
  .a-filled-out-application-form,
  .admission-letter-from-a-univer1,
  .pre-paid-fee-valid-internatio {
    margin-bottom: 0;
  }
  .admission-letter-from-a-univer {
    margin: 0;
    font-size: inherit;
    padding-left: var(--padding-lgi);
  }
  .when-your-appointment-container {
    align-self: stretch;
    position: relative;
    font-size: var(--ui-type-text-sm-s-size);
    line-height: 21px;
  }
  .component-6 {
    align-self: stretch;
    border-radius: var(--br-5xs);
    background-color: var(--color-mediumslateblue-100);
    border: 0.5px solid var(--dark-mode-global-cards-global);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-2xs) var(--padding-smi);
    gap: var(--gap-xs);
  }
  .input-title2 {
    position: relative;
  }
  .frame-child8 {
    height: 24px;
    width: 24px;
    object-fit: contain;
    min-height: 24px;
  }
  .input-title-group {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .component-7,
  .component-7-inner {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-12xs) 0 0;
  }
  .component-7 {
    border-radius: var(--br-5xs);
    background-color: var(--color-mediumslateblue-100);
    border: 0.5px solid var(--dark-mode-global-cards-global);
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-2xs) var(--padding-smi);
  }
  .input-title3 {
    position: relative;
  }
  .frame-child9 {
    height: 24px;
    width: 24px;
    object-fit: contain;
    min-height: 24px;
  }
  .input-title-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .component-8,
  .component-8-inner {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-12xs) 0 0;
  }
  .component-8 {
    border-radius: var(--br-5xs);
    background-color: var(--color-mediumslateblue-100);
    border: 0.5px solid var(--dark-mode-global-cards-global);
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-2xs) var(--padding-smi);
  }
  .input-title4 {
    position: relative;
  }
  .frame-child10 {
    height: 24px;
    width: 24px;
    object-fit: contain;
    min-height: 24px;
  }
  .input-title-parent1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .component-9,
  .component-9-inner {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-12xs) 0 0;
  }
  .component-9 {
    border-radius: var(--br-5xs);
    background-color: var(--color-mediumslateblue-100);
    border: 0.5px solid var(--dark-mode-global-cards-global);
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-2xs) var(--padding-smi);
  }
  .content-area {
    flex: 1;
    flex-direction: column;
    gap: 22px;
    min-width: 530px;
    font-size: var(--ui-type-text-md-s-size);
    color: var(--grayscale-label);
    font-family: var(--ui-type-text-md-s);
  }
  .content-area,
  .frame-parent4,
  .frame-parent8,
  .social-connect {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .social-connect {
    align-self: stretch;
    flex-direction: row;
    gap: 47px;
    color: var(--brand-main-popo);
  }
  .frame-parent4,
  .frame-parent8 {
    flex-direction: column;
  }
  .frame-parent8 {
    align-self: stretch;
    gap: 138px;
    font-size: var(--font-size-13xl);
    color: var(--gray-900);
  }
  .frame-parent4 {
    width: 1193px;
    gap: 49px;
  }
  .frame-wrapper2,
  .navigation-parent {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    max-width: 100%;
    text-align: left;
    font-family: var(--font-dm-serif-display);
  }
  .frame-wrapper2 {
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-2xl) 0 var(--padding-xl);
    box-sizing: border-box;
    font-size: var(--font-size-xl);
    color: var(--brand-main-trunks);
  }
  .navigation-parent {
    flex-direction: column;
    justify-content: flex-start;
    font-size: var(--paragraph-text-lg-bold-size);
    color: var(--gray-600);
  }
  .rectangle-div {
    height: 238px;
    width: 1439px;
    position: relative;
    background-color: var(--brand-main-popo);
    display: none;
    max-width: 100%;
  }
  .content-child1 {
    height: 42px;
    width: 157.3px;
    position: relative;
  }
  .content4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .resecure {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 22px;
    display: inline-block;
    min-width: 115px;
  }
  .content3 {
    height: 116px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .figma-logo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: var(--gap-5xl);
  }
  .connect-with-us-on-social-medi-parent,
  .f-a-q-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
    font-size: var(--ui-type-text-md-s-size);
  }
  .f-a-q-list {
    gap: var(--gap-xs);
    font-size: var(--paragraph-text-lg-bold-size);
  }
  .title-container {
    width: 1194px;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
    max-width: 100%;
    z-index: 1;
  }
  .dashboard,
  .rectangle-parent,
  .title-container {
    display: flex;
    align-items: flex-start;
  }
  .rectangle-parent {
    align-self: stretch;
    background-color: var(--brand-main-popo);
    flex-direction: row;
    justify-content: center;
    padding: 88px var(--padding-xl) var(--padding-15xl) var(--padding-4xl);
    box-sizing: border-box;
    gap: var(--gap-3xs);
    max-width: 100%;
    text-align: left;
    font-size: var(--ui-type-text-sm-s-size);
    color: var(--white);
    font-family: var(--ui-type-text-md-s);
  }
  .dashboard {
    width: 100%;
    position: relative;
    background-color: var(--white);
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    gap: 146px;
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1200px) {
    .frame-parent8 {
      gap: 69px;
    }
  }
  @media screen and (max-width: 1050px) {
    .heading6 {
      font-size: var(--font-size-7xl);
    }
    .input-title-component {
      justify-content: center;
      grid-template-columns: repeat(2, minmax(281px, 487px));
    }
    .frequently-asked-questions-container {
      font-size: var(--font-size-7xl);
    }
    .company-about-parent {
      flex: 1;
    }
    .social-connect {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 750px) {
    .input-title-component {
      gap: var(--gap-mid);
      grid-template-columns: minmax(281px, 1fr);
    }
    .content-area {
      min-width: 100%;
    }
    .social-connect {
      gap: 23px;
    }
    .frame-parent8 {
      gap: var(--gap-15xl);
    }
    .frame-parent4 {
      gap: var(--gap-5xl);
      display: block;
    }
    .title-container {
      flex-wrap: wrap;
    }
    .dashboard {
      gap: 73px;
    }
  }
  @media screen and (max-width: 450px) {
    .current-level-inform {
      font-size: var(--ui-type-text-md-s-size);
      line-height: 26px;
    }
    .heading3 {
      font-size: 21px;
    }
    .current-level-inform1 {
      font-size: var(--ui-type-text-md-s-size);
      line-height: 26px;
    }
    .heading4,
    .heading5 {
      font-size: var(--font-size-3xl);
      line-height: 35px;
    }
    .frequently-asked-questions-container,
    .heading6 {
      font-size: var(--font-size-lgi);
    }
    .frame-parent8 {
      gap: var(--gap-mid);
    }
    .dashboard {
      gap: 36px;
      display: block;
    }
  }
  