@media screen and (max-width: 575px) {
    .container{
        padding: 0 20px !important;
    }
}
.navtext {
    font-size: inherit;
    line-height: 28px;
    font-weight: 700;
    font-family: var(--paragraph-text-md-regualr);
    color: var(--gray-600);
}
.contact-btn{
    background-color: #5C33CF ;
}