.content-inner {
    height: 43px;
    width: 165.7px;
    position: relative;
  }
  .content3 {
    align-self: stretch;
    width: 154px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-6xs) 0 var(--padding-6xs) 0;
    box-sizing: border-box;
  }
  .placeholder-icon2 {
    height: 20px;
    width: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .text2 {
    position: relative;
    line-height: 28px;
    display: inline-block;
    min-width: 112px;
    white-space: nowrap;
  }
  .placeholder-icon3 {
    height: 20px;
    width: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .buttonsbutton1 {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-5xs);
  }
  .placeholder-icon4 {
    height: 20px;
    width: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .text3 {
    position: relative;
    line-height: 28px;
    display: inline-block;
    min-width: 111px;
    white-space: nowrap;
  }
  .placeholder-icon5 {
    height: 20px;
    width: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .buttonsbutton2 {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-5xs);
  }
  .placeholder-icon6 {
    height: 20px;
    width: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .text4 {
    position: relative;
    font-size: var(--paragraph-text-lg-bold-size);
    line-height: 28px;
    display: inline-block;
    font-family: var(--paragraph-text-md-regualr);
    color: var(--gray-600);
    text-align: left;
    min-width: 62px;
  }
  .placeholder-icon7 {
    height: 20px;
    width: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .buttonsbutton3 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--gap-5xs);
  }
  .placeholder-icon8 {
    height: 20px;
    width: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .text5 {
    position: relative;
    line-height: 28px;
    display: inline-block;
    min-width: 35px;
  }
  .placeholder-icon9 {
    height: 20px;
    width: 20px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    display: none;
  }
  .buttonsbutton-parent,
  .buttonsbutton4 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .buttonsbutton4 {
    overflow: hidden;
    justify-content: center;
    gap: var(--gap-5xs);
  }
  .buttonsbutton-parent {
    flex: 1;
    justify-content: space-between;
    max-width: 100%;
    gap: var(--gap-xl);
  }
  .button-text3,
  .mds-tw-button3 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button-text3 {
    width: 73px;
    position: relative;
    font-size: var(--ui-type-text-sm-r-size);
    line-height: 24px;
    font-weight: 500;
    font-family: var(--paragraph-text-md-regualr);
    color: var(--brand-main-goten);
    text-align: center;
    min-width: 73px;
  }
  .mds-tw-button3 {
    cursor: pointer;
    border: 0;
    padding: var(--size-80) var(--size-160);
    background-color: var(--brand-main-piccolo);
    border-radius: var(--mds-button-radius);
    overflow: hidden;
    flex-direction: row;
    box-sizing: border-box;
    min-height: 40px;
    white-space: nowrap;
  }
  .mds-tw-button3:hover,
  .mds-tw-button4:hover,
  .mds-tw-button6:hover,
  .mds-tw-button7:hover,
  .mds-tw-button8:hover,
  .mds-tw-tag:hover {
    background-color: var(--color-mediumslateblue);
  }
  .container1,
  .frame-div,
  .header1 {
    display: flex;
    align-items: center;
    max-width: 100%;
  }
  .frame-div {
    width: 667px;
    flex-direction: row;
    justify-content: center;
    gap: var(--gap-35xl);
  }
  .container1,
  .header1 {
    align-self: stretch;
    flex: 1;
    box-sizing: border-box;
  }
  .container1 {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 var(--padding-104xl);
    gap: var(--gap-xl);
  }
  .header1 {
    flex-direction: column;
    justify-content: center;
    padding: 18.5px 0;
  }
  .dropdown-header-navigation1,
  .navigation1 {
    width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .dropdown-header-navigation1 {
    flex: 1;
  }
  .navigation1 {
    height: 94px;
    background-color: var(--gray-50);
    border-bottom: 1px solid var(--brand-main-beerus);
    box-sizing: border-box;
    overflow-x: auto;
    flex-shrink: 0;
    top: 0;
    z-index: 99;
    position: sticky;
    max-width: 100%;
  }
  .heading1 {
    align-self: stretch;
    position: relative;
    line-height: 81px;
  }
  .current-level-inform1 {
    width: 516px;
    position: relative;
    font-size: var(--paragraph-text-lg-bold-size);
    line-height: 32px;
    font-family: var(--paragraph-text-md-regualr);
    color: var(--brand-main-trunks);
    display: inline-block;
    max-width: 100%;
  }
  .heading-group {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xl);
    max-width: 100%;
  }
  .button-text4,
  .mds-tw-button4 {
    display: flex;
    justify-content: center;
    min-width: 109px;
  }
  .button-text4 {
    width: 109px;
    position: relative;
    font-size: var(--paragraph-text-md-regualr-size);
    line-height: 24px;
    font-weight: 500;
    font-family: var(--paragraph-text-md-regualr);
    color: var(--brand-main-goten);
    text-align: center;
    align-items: center;
  }
  .mds-tw-button4 {
    cursor: pointer;
    border: 0;
    padding: var(--py-41) var(--padding-xl);
    background-color: var(--brand-main-piccolo);
    flex: 1;
    border-radius: var(--mds-button-radius);
    overflow: hidden;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    min-height: 56px;
    white-space: nowrap;
  }
  .vector-icon {
    align-self: stretch;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
  }
  .vector-wrapper {
    height: 117px;
    width: 197px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-13xl) 0 0;
    box-sizing: border-box;
    min-width: 197px;
  }
  .frame-parent2,
  .frame-wrapper1,
  .mds-tw-button-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .mds-tw-button-parent {
    width: 506px;
    flex-direction: row;
    gap: var(--gap-14xl);
  }
  .frame-parent2,
  .frame-wrapper1 {
    flex-direction: column;
  }
  .frame-parent2 {
    align-self: stretch;
    gap: var(--gap-35xl);
  }
  .frame-wrapper1 {
    width: 531px;
    padding: var(--padding-19xl) 0 0;
    box-sizing: border-box;
    min-width: 531px;
  }
  .frame-child1,
  .frame-child2 {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      135deg,
      rgba(255, 211, 165, 0.2),
      rgba(253, 101, 133, 0.2)
    );
    width: 264px;
    overflow: hidden;
  }
  .frame-child2 {
    left: 90px;
    z-index: 1;
  }
  .frame-parent4 {
    height: 612px;
    flex: 1;
    position: relative;
    max-width: 100%;
  }
  .frame-wrapper2 {
    position: absolute;
    top: 0;
    left: 269px;
    width: 354px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    opacity: 0.9;
    max-width: 100%;
  }
  .industrial-designer-working-3d-icon1 {
    position: absolute;
    top: 67px;
    left: 0;
    border-radius: var(--br-3xs);
    width: 580px;
    height: 436px;
    object-fit: cover;
    z-index: 2;
  }
  .frame-parent3 {
    height: 612px;
    flex: 1;
    position: relative;
    min-width: 405px;
    max-width: 100%;
  }
  .frame-parent1,
  .waitlist-inner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-parent1 {
    width: 1237px;
    justify-content: flex-start;
    gap: var(--gap-64xl);
  }
  .waitlist-inner {
    align-self: stretch;
    justify-content: center;
    padding: 0 var(--padding-xl) 91px;
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-37xl);
    color: var(--gray-900);
    font-family: var(--font-dm-serif-display);
  }
  .heading2 {
    position: relative;
    line-height: 81px;
    display: inline-block;
    max-width: 100%;
  }
  .current-level-inform2 {
    position: relative;
    font-size: var(--font-size-xl);
    line-height: 32px;
    font-family: var(--paragraph-text-md-regualr);
    color: var(--brand-main-trunks);
  }
  .frame-wrapper3,
  .heading-container {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .heading-container {
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-3xs);
  }
  .frame-wrapper3 {
    width: 1012px;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl) var(--padding-4xl);
    box-sizing: border-box;
    font-size: var(--font-size-37xl);
  }
  .card-search-svgrepo-com-1-icon {
    width: 143px;
    height: 143px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .heading3 {
    position: relative;
    line-height: 44px;
    display: inline-block;
    max-width: 100%;
  }
  .conduct-a-search {
    align-self: stretch;
    position: relative;
    font-size: var(--paragraph-text-md-regualr-size);
    line-height: 28px;
    font-family: var(--paragraph-text-md-regualr);
    color: var(--brand-main-trunks);
  }
  .heading-parent1 {
    width: 468px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xl);
    max-width: 100%;
  }
  .heading4 {
    width: 119px;
    position: absolute;
    margin: 0 !important;
    right: 5px;
    bottom: -135px;
    font-size: var(--font-size-368xl);
    letter-spacing: -2px;
    font-family: var(--paragraph-text-md-regualr);
    color: var(--light-border);
    display: inline-block;
    z-index: 1;
  }
  .card-search-svgrepo-com-1-parent {
    flex: 1;
    box-shadow: var(--focus-active);
    border-radius: var(--br-5xl);
    background-color: var(--brand-main-gohan);
    border: 2px solid var(--brand-main-piccolo);
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-39xl) var(--padding-21xl) var(--padding-33xl);
    position: relative;
    gap: var(--gap-29xl);
    min-width: 380px;
    max-width: 100%;
  }
  .user-heart-svgrepo-com-1-icon {
    width: 143px;
    height: 143px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .heading5,
  .we-fetch-all {
    position: relative;
    line-height: 44px;
  }
  .we-fetch-all {
    align-self: stretch;
    font-size: var(--paragraph-text-md-regualr-size);
    line-height: 28px;
    font-family: var(--paragraph-text-md-regualr);
    color: var(--brand-main-trunks);
  }
  .heading-parent2 {
    width: 468px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xl);
    max-width: 100%;
  }
  .heading6 {
    width: 222px;
    position: absolute;
    margin: 0 !important;
    right: -52px;
    bottom: -135px;
    font-size: var(--font-size-368xl);
    letter-spacing: -2px;
    font-family: var(--paragraph-text-md-regualr);
    color: var(--light-border);
    display: inline-block;
    z-index: 1;
  }
  .user-heart-svgrepo-com-1-parent {
    flex: 1;
    border-radius: var(--br-5xl);
    background-color: var(--brand-main-gohan);
    border: 1px solid var(--color-whitesmoke-100);
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-39xl) var(--padding-21xl) var(--padding-33xl);
    position: relative;
    gap: var(--gap-29xl);
    max-width: 100%;
  }
  .frame-parent5,
  .frame-wrapper4 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    max-width: 100%;
  }
  .frame-parent5 {
    width: 1196px;
    flex-wrap: wrap;
    gap: var(--gap-13xl);
  }
  .frame-wrapper4 {
    align-self: stretch;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
  }
  .clipboard-list-svgrepo-com-1-icon {
    width: 148px;
    height: 143px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .heading7,
  .match-results-can {
    position: relative;
    line-height: 44px;
    display: inline-block;
    max-width: 100%;
  }
  .match-results-can {
    flex: 1;
    line-height: 28px;
  }
  .heading8 {
    height: 375px;
    width: 228px;
    position: absolute;
    margin: 0 !important;
    top: -272px;
    right: -170px;
    font-size: var(--font-size-368xl);
    letter-spacing: -2px;
    color: var(--light-border);
    display: inline-block;
    z-index: 1;
  }
  .match-results-can-contain-mult-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    max-width: 100%;
    font-size: var(--paragraph-text-md-regualr-size);
    color: var(--brand-main-trunks);
    font-family: var(--paragraph-text-md-regualr);
  }
  .clipboard-list-svgrepo-com-1-parent,
  .heading-parent3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .heading-parent3 {
    width: 468px;
    gap: var(--gap-9xl);
  }
  .clipboard-list-svgrepo-com-1-parent {
    flex: 1;
    border-radius: var(--br-5xl);
    background-color: var(--brand-main-gohan);
    border: 1px solid var(--color-whitesmoke-100);
    box-sizing: border-box;
    overflow: hidden;
    padding: var(--padding-39xl) var(--padding-21xl) var(--padding-33xl);
    gap: var(--gap-29xl);
  }
  .heading9 {
    width: 235px;
    position: absolute;
    margin: 0 !important;
    right: -65px;
    bottom: -135px;
    letter-spacing: -2px;
    display: inline-block;
  }
  .shield-check-svgrepo-com-1-1 {
    width: 143px;
    height: 143px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .heading10 {
    position: relative;
    line-height: 44px;
    display: inline-block;
    max-width: 100%;
    z-index: 1;
  }
  .our-tool-provide {
    align-self: stretch;
    position: relative;
    font-size: var(--paragraph-text-md-regualr-size);
    line-height: 28px;
    font-family: var(--paragraph-text-md-regualr);
    color: var(--brand-main-trunks);
    z-index: 1;
  }
  .heading-parent5 {
    width: 468px;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-9xl);
    font-size: var(--font-size-17xl);
    color: var(--gray-900);
    font-family: var(--font-dm-serif-display);
  }
  .frame-parent6,
  .frame-wrapper5,
  .heading-parent4,
  .heading-parent5 {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .heading-parent4 {
    flex: 1;
    border-radius: var(--br-5xl);
    background-color: var(--brand-main-gohan);
    border: 1px solid var(--color-whitesmoke-100);
    box-sizing: border-box;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-39xl) var(--padding-21xl) var(--padding-33xl);
    position: relative;
    gap: var(--gap-29xl);
    font-size: var(--font-size-368xl);
    color: var(--light-border);
    font-family: var(--paragraph-text-md-regualr);
  }
  .frame-parent6,
  .frame-wrapper5 {
    flex-direction: row;
    justify-content: center;
  }
  .frame-parent6 {
    width: 1196px;
    gap: var(--gap-13xl);
  }
  .frame-wrapper5 {
    align-self: stretch;
    padding: 0 var(--padding-xl);
    box-sizing: border-box;
  }
  .frame-child3,
  .frame-child4,
  .frame-child5 {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 101.2px;
    background: linear-gradient(
      135deg,
      rgba(255, 211, 165, 0.11),
      rgba(253, 101, 133, 0.11)
    );
    width: 296.8px;
    overflow: hidden;
  }
  .frame-child4,
  .frame-child5 {
    left: 0;
    z-index: 1;
  }
  .frame-child5 {
    left: 56.2px;
    z-index: 2;
  }
  .frame-parent8 {
    width: 398px;
    height: 612px;
    position: absolute;
    margin: 0 !important;
    top: 127px;
    left: 1042px;
  }
  .group-icon {
    height: 492.3px;
    width: 365px;
    position: relative;
    max-width: 100%;
  }
  .heading11 {
    align-self: stretch;
    position: relative;
    font-size: var(--font-size-37xl);
    letter-spacing: -2px;
    line-height: 81px;
    font-family: var(--font-dm-serif-display);
  }
  .current-level-inform3 {
    width: 507px;
    position: relative;
    line-height: 32px;
    display: inline-block;
    max-width: 100%;
    box-sizing: border-box;
    padding-right: var(--padding-xl);
  }
  .report-fraud-cases,
  .search-and-identify {
    margin-bottom: 0;
  }
  .report-fraud-cases-search-and {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: var(--padding-2xl);
  }
  .current-level-inform-container {
    width: 507px;
    position: relative;
    line-height: 41px;
    font-weight: 500;
    display: inline-block;
    max-width: 100%;
    box-sizing: border-box;
    padding-right: var(--padding-xl);
  }
  .heading-parent6 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xl);
    max-width: 100%;
  }
  .button-text5 {
    position: relative;
    line-height: 24px;
    font-weight: 500;
    display: inline-block;
    min-width: 118px;
  }
  .icon {
    height: 16px;
    width: 16px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .icon-contianer,
  .mds-tw-button5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  .icon-contianer {
    height: 24px;
    padding: var(--padding-9xs) 0;
  }
  .mds-tw-button5 {
    border-radius: var(--mds-button-radius);
    background-color: var(--brand-main-piccolo);
    overflow: hidden;
    padding: var(--size-160) var(--size-160) var(--size-160) var(--size-2401);
    gap: var(--size-160);
    min-height: 56px;
  }
  .frame-parent9,
  .group-parent {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-parent9 {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-25xl);
    min-width: 422px;
  }
  .group-parent {
    width: 1191px;
    margin: 0 !important;
    position: absolute;
    top: 119px;
    left: 124px;
    flex-direction: row;
    justify-content: center;
    gap: 177px;
    z-index: 1;
  }
  .frame-parent7,
  .frame-section {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .frame-parent7 {
    height: 739px;
    background-color: var(--brand-main-bulma);
    overflow: hidden;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: var(--paragraph-text-md-regualr-size);
    color: var(--brand-main-goten);
    font-family: var(--paragraph-text-md-regualr);
  }
  .frame-section {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 117px;
    box-sizing: border-box;
    gap: var(--gap-21xl);
    text-align: left;
    font-size: var(--font-size-17xl);
    color: var(--gray-900);
    font-family: var(--font-dm-serif-display);
  }
  .waitlist-child {
    width: 279px;
    height: 345.3px;
    position: absolute;
    margin: 0 !important;
    right: 434px;
    bottom: 740.3px;
    object-fit: contain;
    z-index: 4;
  }
  .heading12,
  .label-text {
    align-self: stretch;
    position: relative;
    line-height: 81px;
  }
  .label-text {
    font-size: var(--paragraph-text-md-regualr-size);
    line-height: 24px;
    font-family: var(--paragraph-text-md-regualr);
    color: var(--brand-main-goten);
    text-align: center;
    display: inline-block;
    min-width: 99px;
  }
  .heading-parent7,
  .mds-tw-tag {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .mds-tw-tag {
    cursor: pointer;
    border: 0;
    padding: var(--py-1) var(--px-2);
    background-color: var(--brand-main-piccolo);
    width: 115px;
    border-radius: var(--mds-radius-xs);
    overflow: hidden;
    align-items: center;
    box-sizing: border-box;
    white-space: nowrap;
  }
  .heading-parent7 {
    align-self: stretch;
    align-items: flex-start;
    gap: var(--gap-9xs);
    font-size: var(--font-size-37xl);
    color: var(--gray-900);
    font-family: var(--font-dm-serif-display);
  }
  .current-level-inform4 {
    width: 487px;
    position: relative;
    line-height: 32px;
    display: inline-block;
    max-width: 100%;
  }
  .block-and-flag,
  .real-time-protection-for {
    margin-bottom: 0;
  }
  .real-time-protection-for-your {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    padding-left: var(--padding-2xl);
  }
  .current-level-inform-container1 {
    width: 487px;
    position: relative;
    line-height: 41px;
    font-weight: 500;
    display: inline-block;
    max-width: 100%;
  }
  .frame-parent12 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xl);
    max-width: 100%;
  }
  .button-text6,
  .mds-tw-button6 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button-text6 {
    width: 119px;
    position: relative;
    font-size: var(--paragraph-text-md-regualr-size);
    line-height: 24px;
    font-weight: 500;
    font-family: var(--paragraph-text-md-regualr);
    color: var(--brand-main-goten);
    text-align: center;
    min-width: 119px;
  }
  .mds-tw-button6 {
    cursor: pointer;
    border: 0;
    padding: var(--py-41) var(--padding-59xl-5);
    background-color: var(--brand-main-piccolo);
    border-radius: var(--mds-button-radius);
    overflow: hidden;
    flex-direction: row;
    box-sizing: border-box;
    min-height: 56px;
    white-space: nowrap;
  }
  .frame-parent11 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-25xl);
    min-width: 413px;
    max-width: 100%;
    z-index: 3;
  }
  .frame-child6,
  .frame-child7,
  .frame-child8 {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      135deg,
      rgba(255, 211, 165, 0.11),
      rgba(253, 101, 133, 0.11)
    );
    width: 560.1px;
    overflow: hidden;
  }
  .frame-child7,
  .frame-child8 {
    left: 190.9px;
    z-index: 1;
  }
  .frame-child8 {
    left: 106.1px;
    z-index: 2;
  }
  .frame-parent14 {
    height: 601.6px;
    width: 751px;
    position: absolute;
    margin: 0 !important;
    bottom: -132.4px;
    left: -123px;
  }
  .type-card {
    position: relative;
    line-height: 20px;
    display: inline-block;
    min-width: 79px;
  }
  .card-title {
    position: relative;
    font-size: var(--headings-h4-size);
    line-height: 28px;
    color: var(--neutral-colors-black);
  }
  .type-card-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xs);
    max-width: 100%;
  }
  .divider {
    align-self: stretch;
    height: 1px;
    position: relative;
    border-top: 1px solid var(--neutral-colors-500);
    box-sizing: border-box;
  }
  .chart-5-inner,
  .frame-parent15 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .frame-parent15 {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-3xl);
  }
  .chart-5-inner {
    align-self: stretch;
    flex-direction: row;
    padding: 0 var(--padding-14xl) 0 33.1px;
    box-sizing: border-box;
  }
  .circle-icon {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .amount,
  .amount-info {
    width: 99px;
    position: relative;
    line-height: 32px;
    display: inline-block;
    min-width: 99px;
    z-index: 1;
  }
  .amount {
    width: 116px;
    position: absolute;
    margin: 0 !important;
    right: 124.2px;
    bottom: -16.1px;
    font-size: var(--special-headings-display-3-size);
    line-height: 52px;
    color: var(--neutral-colors-black);
    min-width: 116px;
    z-index: 2;
  }
  .circle-parent {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding: var(--padding-17xl) var(--padding-xl) 35.9px;
    position: relative;
    max-width: 100%;
  }
  .chart-5-child,
  .circle-parent,
  .divider-2 {
    align-self: stretch;
    box-sizing: border-box;
  }
  .chart-5-child {
    height: 179.5px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 73px 6.7px 72.7px;
    max-width: 100%;
    text-align: center;
    color: var(--neutral-colors-text-gray);
  }
  .divider-2 {
    height: 1px;
    position: relative;
    border-top: 1px solid var(--neutral-colors-500);
  }
  .identifier {
    width: 14.2px;
    height: 14.2px;
    position: relative;
    border-radius: 50%;
    background: linear-gradient(135deg, #b39fff, #6a1ed2);
    flex-shrink: 0;
    
  }
  .identifier-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-10xs-9) 0 0;
  }
  .name {
    position: relative;
    line-height: 18px;
    display: inline-block;
    min-width: 32px;
    flex-shrink: 0;
    
  }
  .frame-parent17 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8.1px;
  }
  .amount1 {
    position: relative;
    line-height: 18px;
    font-weight: 500;
    display: inline-block;
    min-width: 28px;
  }
  .amount-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xs) 0 0;
    color: var(--neutral-colors-black);
  }
  .identifier1 {
    width: 14.2px;
    height: 14.2px;
    position: relative;
    border-radius: 50%;
    background-color: var(--neutral-colors-300);
    border: 0 solid var(--neutral-colors-400);
    box-sizing: border-box;
  }
  .variable-store {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-10xs-9) var(--padding-8xs) 0 0;
  }
  .amount2,
  .name1 {
    position: relative;
    line-height: 18px;
    display: inline-block;
    min-width: 61px;
  }
  .amount2 {
    font-weight: 500;
    color: var(--neutral-colors-black);
    min-width: 27px;
  }
  .logic-operator {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xs) 0 0;
    gap: 3px;
  }
  .identifier2 {
    width: 14.2px;
    height: 14.2px;
    position: relative;
    border-radius: 50%;
    background-color: var(--system-colors-magenta-200);
    flex-shrink: 0;
    
  }
  .identifier-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-10xs-9) 0 0;
  }
  .name2 {
    position: relative;
    line-height: 18px;
    display: inline-block;
    min-width: 35px;
    flex-shrink: 0;
    
  }
  .frame-parent18 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
  }
  .amount3 {
    position: relative;
    line-height: 18px;
    font-weight: 500;
    color: var(--neutral-colors-black);
    display: inline-block;
    min-width: 25px;
  }
  .frame-parent16 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-12xs) 0 0;
    box-sizing: border-box;
    gap: var(--gap-lgi);
    max-width: 100%;
  }
  .divider-2-parent,
  .frame-wrapper6 {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-wrapper6 {
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 var(--padding-48xl) 0 64.7px;
    box-sizing: border-box;
  }
  .divider-2-parent {
    flex-direction: column;
    gap: var(--gap-12xl);
    font-size: var(--paragraph-text-md-regualr-size);
  }
  .chart-5,
  .divider-2-parent,
  .frame-parent13 {
    justify-content: flex-start;
  }
  .chart-5 {
    flex: 1;
    box-shadow: 0 2px 6px rgba(13, 10, 44, 0.08),
      0 1px 14px rgba(16, 24, 40, 0.06);
    border-radius: var(--br-xl);
    background-color: var(--brand-main-goten);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: var(--padding-13xl) 0 53.1px;
    box-sizing: border-box;
    gap: var(--gap-25xl);
    max-width: 100%;
    z-index: 3;
  }
  .frame-parent13 {
    width: 510px;
    position: relative;
    min-width: 510px;
    font-size: var(--paragraph-text-lg-bold-size);
    color: var(--neutral-colors-400);
    font-family: var(--text-single-300-medium);
  }
  .frame-parent10,
  .frame-parent13,
  .waitlist-inner1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-parent10 {
    width: 1198px;
    justify-content: flex-start;
    gap: var(--gap-33xl);
  }
  .waitlist-inner1 {
    align-self: stretch;
    justify-content: center;
    padding: 0 var(--padding-xl) 201px var(--padding-5xl);
    box-sizing: border-box;
    text-align: left;
    font-size: var(--paragraph-text-md-regualr-size);
    color: var(--brand-main-trunks);
    font-family: var(--paragraph-text-md-regualr);
  }
  .frame-child10,
  .frame-child11,
  .frame-child9 {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 90px;
    background: linear-gradient(
      135deg,
      rgba(255, 211, 165, 0.11),
      rgba(253, 101, 133, 0.11)
    );
    width: 264px;
    overflow: hidden;
  }
  .frame-child10,
  .frame-child11 {
    left: 0;
    z-index: 1;
  }
  .frame-child11 {
    left: 50px;
    z-index: 2;
  }
  .frame-parent20 {
    position: absolute;
    top: -74px;
    left: 218px;
    width: 354px;
    height: 612px;
  }
  .heading13 {
    position: relative;
    letter-spacing: -2px;
  }
  .current-level-inform5 {
    align-self: stretch;
    position: relative;
    font-size: var(--paragraph-text-md-regualr-size);
    line-height: 32px;
    font-family: var(--paragraph-text-md-regualr);
    color: var(--brand-main-gohan);
  }
  .data-flow-control {
    width: 317px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xs);
    min-width: 317px;
  }
  .input-label12 {
    width: 100%;
    border: 0;
    outline: 0;
    font-family: var(--paragraph-text-md-regualr);
    font-size: var(--paragraph-text-md-regualr-size);
    background-color: transparent;
    align-self: stretch;
    height: 24px;
    position: relative;
    line-height: 24px;
    color: var(--brand-main-trunks);
    text-align: left;
    display: flex;
    align-items: center;
    min-width: 118px;
    padding: 0;
  }
  .input-container8 {
    align-self: stretch;
    border-radius: var(--br-xs);
    background-color: var(--brand-main-goten);
    border: 1px solid var(--light-beerus-beerus);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: var(--padding-base) var(--padding-mini);
  }
  .input-atom8 {
    flex: 1;
    position: relative;
    font-size: var(--font-size-xs);
    line-height: 16px;
    font-family: var(--paragraph-text-md-regualr);
    color: var(--brand-main-trunks);
    text-align: left;
  }
  .hint-text7,
  .text-input7 {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .hint-text7 {
    align-self: stretch;
    display: none;
    flex-direction: row;
    padding: 0 var(--padding-xs);
  }
  .text-input7 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--gap-5xs);
    min-width: 148px;
  }
  .input-label13 {
    width: 100%;
    border: 0;
    outline: 0;
    font-family: var(--paragraph-text-md-regualr);
    font-size: var(--paragraph-text-md-regualr-size);
    background-color: transparent;
    align-self: stretch;
    height: 24px;
    position: relative;
    line-height: 24px;
    color: var(--brand-main-trunks);
    text-align: left;
    display: flex;
    align-items: center;
    min-width: 118px;
    padding: 0;
  }
  .input-container9 {
    align-self: stretch;
    border-radius: var(--br-xs);
    background-color: var(--brand-main-goten);
    border: 1px solid var(--light-beerus-beerus);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: var(--padding-base) var(--padding-mini);
  }
  .input-atom9 {
    flex: 1;
    position: relative;
    font-size: var(--font-size-xs);
    line-height: 16px;
    font-family: var(--paragraph-text-md-regualr);
    color: var(--brand-main-trunks);
    text-align: left;
  }
  .hint-text8,
  .text-input-parent,
  .text-input8 {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .hint-text8 {
    align-self: stretch;
    display: none;
    flex-direction: row;
    padding: 0 var(--padding-xs);
  }
  .text-input-parent,
  .text-input8 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--gap-5xs);
    min-width: 148px;
  }
  .text-input-parent {
    flex-direction: row;
    gap: var(--gap-5xl);
    min-width: 312px;
    max-width: 100%;
  }
  .button-text7,
  .mds-tw-button7 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button-text7 {
    width: 69px;
    position: relative;
    font-size: var(--paragraph-text-md-regualr-size);
    line-height: 24px;
    font-weight: 500;
    font-family: var(--paragraph-text-md-regualr);
    color: var(--brand-main-goten);
    text-align: center;
    min-width: 69px;
  }
  .mds-tw-button7 {
    cursor: pointer;
    border: 0;
    padding: var(--py-41) var(--size-2401);
    background-color: var(--brand-main-piccolo);
    border-radius: var(--mds-button-radius);
    overflow: hidden;
    flex-direction: row;
    box-sizing: border-box;
    min-height: 56px;
    white-space: nowrap;
  }
  .error-handler,
  .frame-form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-form {
    margin: 0;
    width: 621px;
    justify-content: flex-end;
    gap: var(--gap-5xl);
  }
  .error-handler {
    position: absolute;
    top: 77px;
    left: 59px;
    width: 1076px;
    justify-content: space-between;
    gap: var(--gap-xl);
    z-index: 3;
  }
  .frame-parent19 {
    align-self: stretch;
    height: 274px;
    position: relative;
    border-radius: var(--br-xl);
    background-color: var(--brand-main-bulma);
    overflow: hidden;
    flex-shrink: 0;
    max-width: 100%;
  }
  .frame-child12,
  .frame-child13,
  .frame-child14 {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 90px;
    background: linear-gradient(
      135deg,
      rgba(255, 211, 165, 0.11),
      rgba(253, 101, 133, 0.11)
    );
    width: 264px;
    overflow: hidden;
  }
  .frame-child13,
  .frame-child14 {
    left: 0;
    z-index: 1;
  }
  .frame-child14 {
    left: 50px;
    z-index: 2;
  }
  .frame-parent22 {
    height: 612px;
    width: 354px;
    position: absolute;
    margin: 0 !important;
    right: 404px;
    bottom: -361px;
  }
  .have-you-been,
  .of-any-type {
    margin: 0;
  }
  .heading14 {
    align-self: stretch;
    position: relative;
    line-height: 63px;
  }
  .we-make-it {
    width: 430px;
    position: relative;
    font-size: var(--paragraph-text-md-regualr-size);
    line-height: 28px;
    font-family: var(--paragraph-text-md-regualr);
    color: var(--brand-main-trunks);
    display: flex;
    align-items: center;
    max-width: 100%;
    z-index: 3;
  }
  .heading-parent8 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-lg);
    max-width: 100%;
  }
  .button-text8 {
    width: 136px;
    position: relative;
    font-size: var(--paragraph-text-md-regualr-size);
    line-height: 24px;
    font-weight: 500;
    font-family: var(--paragraph-text-md-regualr);
    color: var(--brand-main-goten);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .alignment-alley,
  .alignment-alley-wrapper,
  .mds-tw-button8 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .mds-tw-button8 {
    cursor: pointer;
    border: 0;
    padding: var(--py-41) var(--padding-51xl);
    background-color: var(--brand-main-piccolo);
    border-radius: var(--mds-button-radius);
    overflow: hidden;
    flex-direction: row;
    box-sizing: border-box;
    min-height: 56px;
    white-space: nowrap;
  }
  .alignment-alley,
  .alignment-alley-wrapper {
    flex-direction: column;
    flex-shrink: 0;
  }
  .alignment-alley {
    align-self: stretch;
    gap: var(--gap-29xl);
   
    max-width: 100%;
  }
  .alignment-alley-wrapper {
    width: 499px;
    padding: 69px 0 0;
    box-sizing: border-box;
    max-width: calc(100% - 865px);
  }
  .shocked-guy-with-braids-posing-icon {
    height: 527px;
    width: 588px;
    position: relative;
    object-fit: cover;
    flex-shrink: 0;
    
  }
  .frame-parent21 {
    align-self: stretch;
    height: 567px;
    border-radius: var(--br-5xl);
    background-color: var(--brand-main-gohan);
    border: 1px solid var(--color-whitesmoke-100);
    box-sizing: border-box;
    overflow: hidden;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: flex-start;
    padding: var(--padding-29xl) var(--padding-41xl) 90px;
    position: relative;
    gap: 277px;
    font-size: var(--font-size-29xl);
    color: var(--gray-900);
  }
  .frame-parent21,
  .triangle-trove,
  .triangle-trove-wrapper {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .triangle-trove {
    width: 1194px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 117px;
  }
  .triangle-trove-wrapper {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 var(--padding-xl) 92px;
    box-sizing: border-box;
    text-align: left;
    font-size: var(--font-size-19xl);
    color: var(--brand-main-goten);
    font-family: var(--font-dm-serif-display);
  }
  .content-child1 {
    height: 42px;
    width: 157.3px;
    position: relative;
  }
  .content5 {
    height: 42px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .resecure1 {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 22px;
    display: inline-block;
    min-width: 115px;
  }
  .content4 {
    height: 116px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .about-us1,
  .faq1,
  .our-company1 {
    position: relative;
    letter-spacing: 0.01em;
    display: inline-block;
  }
  .our-company1 {
    font-size: var(--paragraph-text-lg-bold-size);
    line-height: 32px;
    min-width: 121px;
    white-space: nowrap;
  }
  .about-us1,
  .faq1 {
    line-height: 22px;
    min-width: 60px;
  }
  .faq1 {
    min-width: 27px;
  }
  .our-company-parent {
    height: 116px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .contact-us1 {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 32px;
    display: inline-block;
    min-width: 100px;
  }
  .connect-with-us1 {
    position: relative;
    line-height: 24px;
  }
  .camera-instagram-social-media-icon1,
  .twitter-icon-11 {
    overflow: hidden;
    flex-shrink: 0;
  }
  .camera-instagram-social-media-icon1,
  .exclude-icon1,
  .fb-facebook-facebook-logo-icon1,
  .twitter-icon-11 {
    height: 32px;
    width: 32px;
    position: relative;
    min-height: 32px;
  }
  .fb-facebook-facebook-logo-icon1 {
    overflow: hidden;
    flex-shrink: 0;
  }
  .input-processor {
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: var(--gap-5xl);
  }
  .contact-us-parent,
  .data-aggregator {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-base);
    font-size: var(--paragraph-text-md-regualr-size);
  }
  .contact-us-parent {
    gap: var(--gap-xs);
    font-size: var(--paragraph-text-lg-bold-size);
  }
  .content-parent {
    width: 1194px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
    max-width: 100%;
  }
  .frame-wrapper7,
  .rectangle-div {
    align-self: stretch;
    background-color: var(--brand-main-bulma);
  }
  .frame-wrapper7 {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 61px var(--padding-xl);
    box-sizing: border-box;
    width: 100%;
  }
  .rectangle-div {
    height: 238px;
    position: relative;
    display: none;
    z-index: 1;
  }
  .content-child2 {
    height: 42px;
    width: 157.3px;
    position: relative;
  }
  .content7,
  .resecure2 {
    display: flex;
    align-items: center;
  }
  .content7 {
    height: 42px;
    flex-direction: row;
    justify-content: flex-start;
  }
  .resecure2 {
    height: 22px;
    position: relative;
    letter-spacing: 0.01em;
    line-height: 22px;
    box-sizing: border-box;
    padding-right: var(--padding-xl);
  }
  .content6 {
    height: 116px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .about-us2,
  .faq2,
  .our-company2 {
    position: relative;
    letter-spacing: 0.01em;
    display: flex;
    align-items: center;
  }
  .our-company2 {
    height: 32px;
    font-size: var(--paragraph-text-lg-bold-size);
    line-height: 32px;
    white-space: nowrap;
  }
  .about-us2,
  .faq2 {
    height: 22px;
    line-height: 22px;
    box-sizing: border-box;
    padding-right: var(--padding-xl);
  }
  .our-company-group {
    height: 116px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .contact-us2 {
    height: 32px;
    position: relative;
    letter-spacing: 0.01em;
    line-height: 32px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-right: var(--padding-xl);
  }
  .connect-with-us2 {
    align-self: stretch;
    height: 24px;
    position: relative;
    line-height: 24px;
    display: inline-block;
  }
  .camera-instagram-social-media-icon2,
  .twitter-icon-12 {
    overflow: hidden;
    flex-shrink: 0;
  }
  .camera-instagram-social-media-icon2,
  .exclude-icon2,
  .fb-facebook-facebook-logo-icon2,
  .twitter-icon-12 {
    height: 32px;
    width: 32px;
    position: relative;
    min-height: 32px;
  }
  .fb-facebook-facebook-logo-icon2 {
    overflow: hidden;
    flex-shrink: 0;
  }
  .camera-instagram-social-media-parent {
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
    gap: var(--gap-5xl);
  }
  .connect-with-us-on-social-medi-parent,
  .contact-us-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .connect-with-us-on-social-medi-parent {
    width: 241px;
    gap: var(--gap-base);
    font-size: var(--paragraph-text-md-regualr-size);
  }
  .contact-us-group {
    gap: var(--gap-xs);
    font-size: var(--paragraph-text-lg-bold-size);
  }
  .content-group {
    width: 100%;
    margin: 0 !important;
    position: absolute;
    top: 88px;
    left: 124px;
    display: none;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--gap-xl);
    max-width: 100%;
    z-index: 2;
  }
  .frame-footer,
  .transform-table {
    display: flex;
    align-items: flex-start;
    width: 100%;
  }
  .frame-footer {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    gap: var(--gap-3xs);
    text-align: left;
    font-size: var(--ui-type-text-sm-r-size);
    color: var(--brand-main-goten);
    font-family: var(--paragraph-text-md-regualr);
  }
  .transform-table {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 var(--padding-12xs);
    box-sizing: border-box;
  }
  .waitlist {
    background: white;
    width: 100%;
    position: relative;
    background-color: var(--brand-main-goten);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-13xl);
    letter-spacing: normal;
    text-align: left;
    font-size: var(--paragraph-text-lg-bold-size);
    color: var(--gray-600);
    font-family: var(--paragraph-text-md-regualr);
    background-color: white;
  }
  @media screen and (max-width: 1200px) {
    .frame-section {
      padding-bottom: 76px;
      box-sizing: border-box;
    }
    .frame-parent21 {
      gap: 138px;
      padding-left: var(--padding-11xl);
      padding-right: var(--padding-11xl);
      box-sizing: border-box;
    }
    .triangle-trove {
      gap: 58px;
    }
  }
  @media screen and (max-width: 1050px) {
    .heading1 {
      font-size: var(--font-size-26xl);
      line-height: 65px;
    }
    .frame-wrapper1 {
      flex: 1;
    }
    .frame-parent1 {
      flex-wrap: wrap;
    }
    .heading2 {
      font-size: var(--font-size-26xl);
      line-height: 65px;
    }
    .heading3 {
      font-size: var(--font-size-10xl);
      line-height: 35px;
    }
    .heading4 {
      font-size: var(--font-size-136xl);
    }
    .heading5 {
      font-size: var(--font-size-10xl);
      line-height: 35px;
    }
    .heading6 {
      font-size: var(--font-size-136xl);
    }
    .heading7 {
      font-size: var(--font-size-10xl);
      line-height: 35px;
    }
    .heading8,
    .heading9 {
      font-size: var(--font-size-136xl);
    }
    .heading10 {
      font-size: var(--font-size-10xl);
      line-height: 35px;
    }
    .frame-parent6 {
      flex-wrap: wrap;
    }
    .group-icon {
      flex: 1;
    }
    .heading11 {
        width: 356px;
        color: var(--Brand-main-goten, #FFF);
        font-family: "DM Serif Display";
        font-size: 64px;
        font-style: normal;
        font-weight: 600;
        line-height: 81px; /* 154.348% */
        letter-spacing: -4px;
        align-self: stretch; 
    }
    .current-level-inform3 {
        width: 400px;
        color: var(--Brand-main-goten, #FFF);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: "DM Sans";
        font-size: 64px;
        font-style: normal;
        font-weight: 600;
        line-height: 71px; /* 200% */
    }
    .group-parent {
        display: inline-block;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
       
        text-align: left;
        left: 50px;
    }
    .group-icon {
        width: 316px;
        height: 424px;
        flex-shrink: 0;
        /* right: 80px; */
    }
    .frame-parent7 {
      display: block;
      width: 100%;
      height: 1222px;
      flex-shrink: 0;
    }
    .frame-parent9,
    .heading-parent6{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        gap: 44px;
    }
    .frame-section {
      padding-bottom: 49px;
      box-sizing: border-box;
    }
    .heading12 {
      font-size: var(--font-size-26xl);
      line-height: 65px;
    }
    .amount {
      font-size: 35px;
      line-height: 42px;
    }
    .frame-parent13 {
      flex: 1;
    }
    .frame-parent10 {
      flex-wrap: wrap;
    }
    .heading13 {
        color: var(--Brand-main-goten, #FFF);
        font-family: "DM Serif Display";
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .data-flow-control {
      flex: 1;
    }
    .error-handler {
      flex-wrap: wrap;
    }
    .frame-parent19 {
      height: auto;
      min-height: 274;
    }
    .heading14 {
      font-size: var(--font-size-19xl);
      line-height: 50px;
    }
    .alignment-alley-wrapper,
    .shocked-guy-with-braids-posing-icon {
      display: none;
      max-width: 100%;
    }
    .triangle-trove-wrapper {
      padding-bottom: var(--padding-41xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 750px) {    
    .mds-tw-button-parent {
      gap: var(--gap-base);
    }
    .frame-parent2 {
      gap: var(--gap-8xl);
    }
    .frame-parent3,
    .frame-wrapper1 {
      min-width: 100%;
    }
    .frame-parent1 {
      gap: var(--gap-22xl);
    }
    .waitlist-inner {
      padding-bottom: var(--padding-40xl);
      box-sizing: border-box;
    }
    .card-search-svgrepo-com-1-parent,
    .user-heart-svgrepo-com-1-parent {
      gap: var(--gap-5xl);
    }
    .frame-parent5 {
      gap: var(--gap-base);
    }
    .clipboard-list-svgrepo-com-1-parent,
    .heading-parent4 {
      gap: var(--gap-5xl);
    }
    .frame-parent6 {
      gap: var(--gap-base);
    }
    .frame-section {
      gap: var(--gap-xl);
      padding-bottom: var(--padding-13xl);
      box-sizing: border-box;
    }
    .frame-parent11 {
      gap: var(--gap-3xl);
      min-width: 100%;
    }
    .chart-5-child {
      padding-left: var(--padding-17xl);
      padding-right: var(--padding-17xl);
      box-sizing: border-box;
    }
    .frame-parent16 {
      flex-wrap: wrap;
    }
    .frame-wrapper6 {
      padding-left: var(--padding-13xl);
      padding-right: var(--padding-14xl);
      box-sizing: border-box;
    }
    .divider-2-parent {
      gap: var(--gap-mini);
    }
    .chart-5 {
      gap: var(--gap-3xl);
      padding-top: var(--padding-2xl);
      padding-bottom: 35px;
      box-sizing: border-box;
    }
    .frame-parent13 {
      min-width: 100%;
    }
    .frame-parent10 {
      gap: var(--gap-7xl);
    }
    .waitlist-inner1 {
      padding-bottom: 131px;
      box-sizing: border-box;
    }

    .frame-parent19 {
        display: block;
        width: 369px;
        height: 488px;
        flex-shrink: 0;
    }
    .error-handler{
        display: inline-block;
        flex-direction: column;
        align-items: flex-start;
        gap: 38px;
    }
    
    
    
    .alignment-alley {
      gap: var(--gap-5xl);
    }
    .frame-parent21 {
      gap: 69px;
      padding-top: var(--padding-12xl);
      padding-bottom: var(--padding-39xl);
      box-sizing: border-box;
    }
    .triangle-trove {
      gap: 29px;
    }
    .triangle-trove-wrapper {
      padding-bottom: 39px;
      box-sizing: border-box;
    }
    .content-group,
    .content-parent {
      flex-wrap: wrap;
    }
    .waitlist {
      gap: var(--gap-base);
    }
  }
  @media screen and (max-width: 450px) {
    .heading1 {
      font-size: var(--font-size-15xl);
      line-height: 49px;
    }
    .vector-icon {
      align-self: stretch;
      width: auto;
    }
    .vector-wrapper {
      flex: 1;
    }
    .mds-tw-button-parent {
      flex-wrap: wrap;
    }
    .frame-parent1 {
      gap: var(--gap-2xl);
    }
    .heading2 {
      font-size: var(--font-size-15xl);
      line-height: 49px;
    }
    .current-level-inform2,
    .heading3 {
      font-size: var(--paragraph-text-md-regualr-size);
      line-height: 26px;
    }
    .heading3 {
      font-size: var(--headings-h4-size);
    }
    .heading4 {
      font-size: var(--font-size-78xl);
    }
    .card-search-svgrepo-com-1-parent {
      padding-top: var(--padding-19xl);
      padding-bottom: var(--padding-15xl);
      box-sizing: border-box;
      min-width: 100%;
    }
    .heading5 {
      font-size: var(--headings-h4-size);
      line-height: 26px;
    }
    .heading6 {
      font-size: var(--font-size-78xl);
    }
    .user-heart-svgrepo-com-1-parent {
      padding-top: var(--padding-19xl);
      padding-bottom: var(--padding-15xl);
      box-sizing: border-box;
    }
    .heading7 {
      font-size: var(--headings-h4-size);
      line-height: 26px;
    }
    .heading8 {
      font-size: var(--font-size-78xl);
    }
    .clipboard-list-svgrepo-com-1-parent {
      padding-top: var(--padding-19xl);
      padding-bottom: var(--padding-15xl);
      box-sizing: border-box;
    }
    .heading9 {
      font-size: var(--font-size-78xl);
    }
    .heading10 {
      font-size: var(--headings-h4-size);
      line-height: 26px;
    }
    .heading-parent4 {
      padding-top: var(--padding-19xl);
      padding-bottom: var(--padding-15xl);
      box-sizing: border-box;
    }
    .heading11 {
        font-size: 46px;
        color: var(--Brand-main-goten, #FFF);
        font-family: "DM Serif Display";
        font-size: 46px;
        font-style: normal;
        font-weight: 400;
        line-height: 71px; /* 154.348% */
        letter-spacing: -2px;
    }

    .current-level-inform3 {
        width: 356px;
        color: var(--Brand-main-goten, #FFF);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 200% */
        align-self: stretch;
    }
    .report-fraud-cases-search-and,
    .report-fraud-cases,
    .search-and-identify, 
    li {
        align-self: stretch;
        color: var(--Brand-main-goten, #FFF);
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 41px; /* 256.25% */
    }

    .frame-parent9 {
      min-width: 100%;
    }
    .heading12 {
      font-size: var(--font-size-15xl);
      line-height: 71px;
    }
    .mds-tw-button6 {
        width: 276px;
        height: 56px;
        min-height: 56px;
    }
    .card-title {
      font-size: var(--paragraph-text-lg-bold-size);
      line-height: 22px;
    }
    .amount {
      font-size: 26px;
      line-height: 31px;
    }
    .heading13 {
        color: var(--Brand-main-goten, #FFF);
        font-family: "DM Serif Display";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .text-input-parent {
      flex-wrap: wrap;
    }
    .heading14 {
      font-size: var(--font-size-10xl);
      line-height: 38px;
    }
    .mds-tw-button8 {
      padding-left: var(--py-41);
      padding-right: var(--py-41);
      box-sizing: border-box;
    }
    .alignment-alley-wrapper {
      padding-top: var(--padding-26xl);
      box-sizing: border-box;
    }
    .frame-parent21 {
      gap: 35px;
    }
    .group-parent {
        display: inline-block;
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: left;
        left: 20px;
    }
    
  }
  