.gray{
  color: var(--gray-900);
}
.dark-gray{
  color: #687083;
}
.p-text {
  font-size: var(--font-size-xl);
  line-height: 32px;
  font-family: var(  --font-dm-sans);
  color: var(--brand-main-trunks);
}

.letter{
  letter-spacing:-2px;
}

/* mobile start */
@media screen and (max-width:425px) {
  .text-header{
    font-size: 44px !important;
    line-height: 58px !important;
  }
  .arrow{
    width: 130px;
    height: 85px;
    top: 65px;
  }
  .how-card{
    padding: 45px 25px 45px !important;
  }
  .how-card-heading{
    font-size: 32px !important;
    line-height: 44px !important;
  }
  .how-card-row{
    grid-template-columns: auto !important;
  }
  .newsletter-cont{
    padding: 37px 0px 77px !important;
  }
  .newsletter-header{
    font-size: 24px !important;
    line-height: 32.9px !important;
  }
  .victim{
    margin-top: 0px !important;
  }
  .victim-header{
    font-size: 32px !important;
    line-height: 50px !important;
  }
  .p-text{
  font-size: 16px;
  line-height: 28px;
  text-align: left;
  }
}
@media screen and (min-width:992px) and (max-width:1199px) {
  .arrow{
    width: 130px;
    height: 85px;
    top: 65px;
  }
}
/* mobile end */

/* hero section */
.text-header{
  font-family: var( --font-dm-serif-display);
  font-size: 56px;
  line-height: 81px;
}
.hero-text{
  font-size: var(--paragraph-text-lg-bold-size);
  line-height: 32px;
  font-family: var(  --font-dm-sans);
  color: var(--brand-main-trunks);
}
.btn-colour{
  background-color: var(--color-mediumslateblue);
  font-size: var(--regualr-size);
  font-weight: 500;
  font-family: var(  --font-dm-sans);
  color: var(--brand-main-goten);
}
.Report-btn-cont{
  padding-bottom: 120px;
}
.Report-btn{
  width: 276px; 
}
.arrow{
  right: 0;
  top: 35px;
}
.hero-img{
  background: #fff url(../../public/images/hero.png) no-repeat center;
  background-size: cover;
}
/* how it works section*/
.how-card-row{
  display: grid;
  grid-template-columns: auto auto;
  gap: 32px;

}
.how-card {
  border-radius: var(--br-5xl);
  background-color: var(--brand-main-gohan);
  box-sizing: border-box;
  overflow: hidden;
  padding: 58px 40px 58px;
  width: auto;
  /* height: 428px; */
}
.how-card:hover{
  box-shadow: var(--focus-active);
  border: 2px solid var(--brand-main-piccolo);
}
.how-card-cont{
  z-index: 1000 !important;
}
.how-card-heading {
  font-size: 36px;
  line-height: 44px;
  font-family: var(--font-dm-serif-display);
  color: var( --gray-900);
}
.how-card-content {
  font-size: var(--regualr-size);
  line-height: 28px;
  font-family: var(  --font-dm-sans);
  color: var(--brand-main-trunks);
}
.how-card-num {
  bottom: -99px;
  font-size: var(--font-size-368xl);
  letter-spacing: -2px;
  font-family: var(  --font-dm-sans);
  color: var(--light-border);
  display: inline-block;
  z-index: 0;
}
.num-width1 {
  width: 119px;
  right: 5px;
}
.num-width2 {
  width: 222px;
  right: -52px;
}

/* BUsiness section*/
.gradient{
  right: 0;
  bottom: -130px;
  z-index: -1;
}

/* newletter section*/
.frame-parent20 {
  left: 218px;
}
.newsletter-cont{
  padding: 77px 0px;
}
.newsletter-header {
  font-family: "DM Serif Display";
  font-size: 38px;
  line-height: 52.1px;
  letter-spacing: -2px;
  text-align: left;
}
.newsletter-text{
  font-size: var(--regualr-size);
  line-height: 32px;
  font-family: var(  --font-dm-sans);
  color: var(--brand-main-gohan);
}

/*victim section*/
.victim{
  background-color: #F6F7F9;
  margin: 5rem 0;
}
.victim-header{
  font-family: var(--font-dm-serif-display);
  font-size: 48px;
  color:#101828;
  line-height: 63px;
  text-align: left;
}
.arrow2{
  top: -125px;
  left: 50%;
}
.gradient3{
  left: 36%;
  bottom: -20px;
}