.signup-item{
  font-family: var(--font-dm-sans);
  font-size: 14px;
  /* line-height: 29px; */
}
.cl-gray{
  color: #687083;
}
.cl-purple{
  color: #4859E3;
}
.cl-light_gray{
  color: #2C323A;
}
.cl-xlight-gray, .bg-xlight-gray{
  color: #EBEBEB !important;
}
.bg-purple{
  background-color: #5C33CF;
}
.sign-head{
  font-family: var(--font-dm-serif-display);
  font-size: 32px;
  line-height: 43.87px;
}

.form-check-label{
  font-size: 12px;
  font-family: var(--font-dm-sans);
}
.signup-input::placeholder{
  font-family: var(--font-dm-sans);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #687083;
}
.signup-text{
  font-family: var(--font-dm-sans);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.google{
  font-family: var(--font-dm-sans);
  font-size: 14px;
  line-height: 20px;
}
.frame-child16,
.frame-child17 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 46.5px;
  background: linear-gradient(
    135deg,
    rgba(179, 159, 255, 0.2),
    rgba(106, 30, 210, 0.2)
  );
  width: 136.5px;
  overflow: hidden;
}
.frame-child17 {
  left: 0;
  z-index: 1;
}
.frame-parent27 {
  height: 958px;
  flex: 1;
  position: relative;
}
.input-container11 {
  position: absolute;
  top: 0;
  left: 66px;
  width: 183px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  opacity: 0.6;
}

