
.frame-child16,
.frame-child17 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 46.5px;
  background: linear-gradient(
    135deg,
    rgba(179, 159, 255, 0.2),
    rgba(106, 30, 210, 0.2)
  );
  width: 136.5px;
  overflow: hidden;
}
.frame-child17 {
  left: 0;
  z-index: 1;
}
.frame-parent27 {
  height: 958px;
  flex: 1;
  position: relative;
}
.input-container11 {
  position: absolute;
  top: 0;
  left: 66px;
  width: 183px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  opacity: 0.6;
}
.report-fraud-cases1,
.search-and-identify1 {
  margin-bottom: 0;
}
.report-fraud-cases-search-and1 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-lgi);
}
.current-level-inform-container2 {
  position: relative;
  line-height: 29px;
}
.terms-and-conditions {
  position: absolute;
  top: 52px;
  left: 0;
  border-radius: var(--br-5xs);
  width: 480px;
  height: 552px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-20xl) var(--padding-2xl);
  box-sizing: border-box;
  background-image: url(../../../public/images/signup-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 2;
}
.metric-item-button-value {
  height: 958px;
  flex: 1;
  position: relative;
  min-width: 312px;
  max-width: 100%;
}
.span1 {
  font-weight: 500;
  font-family: var(--paragraph-text-md-regualr);
}
.login1,
.span {
  font-size: var(--paragraph-text-md-regualr-size);
  color: #4859e3;
}
.value-txt {
  width: 100%;
}
.value {
  width: 213px;
  position: relative;
  line-height: 24px;
  display: flex;
  align-items: center;
}
.button {
  align-self: stretch;
  border-radius: var(--br-19xl);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-12xs) var(--padding-mini);
  text-align: right;
  font-size: var(--ui-type-text-sm-s-size);
  color: #2c323a;
}
.sign-up {
  margin: 0;
  width: 105px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 105px;
  white-space: nowrap;
}
.provide-the-details1 {
  align-self: stretch;
  position: relative;
  font-size: var(--ui-type-text-sm-s-size);
  line-height: 20px;
  font-family: var(--paragraph-text-md-regualr);
  color: var(--brand-main-trunks);
  text-align: left;
}
.sign-up-parent {
  width: 330px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--brand-main-bulma);
  font-family: var(--font-dm-serif-display);
}
.input-label8 {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--paragraph-text-md-regualr);
  font-size: var(--paragraph-text-md-regualr-size);
  background-color: transparent;
  height: 24px;
  flex: 1;
  position: relative;
  line-height: 24px;
  color: var(--brand-main-trunks);
  text-align: left;
  display: flex;
  align-items: center;
  min-width: 241px;
  max-width: 100%;
  padding: 0;
}
.input-container12 {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--brand-main-goten);
  border: 1px solid var(--light-beerus-beerus);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-mini);
  max-width: 100%;
}
.input-atom9 {
  flex: 1;
  position: relative;
  line-height: 16px;
  display: inline-block;
  max-width: 100%;
}
.hint-text8,
.text-input8 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.hint-text8 {
  flex-direction: row;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
}
.text-input8 {
  flex-direction: column;
  gap: var(--gap-5xs);
}
.input-label9 {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--paragraph-text-md-regualr);
  font-size: var(--paragraph-text-md-regualr-size);
  background-color: transparent;
  height: 24px;
  flex: 1;
  position: relative;
  line-height: 24px;
  color: var(--brand-main-trunks);
  text-align: left;
  display: flex;
  align-items: center;
  min-width: 241px;
  max-width: 100%;
  padding: 0;
}
.input-container13 {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--brand-main-goten);
  border: 1px solid var(--light-beerus-beerus);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-mini);
  max-width: 100%;
}
.input-atom10 {
  flex: 1;
  position: relative;
  line-height: 16px;
  display: inline-block;
  max-width: 100%;
}
.hint-text9,
.text-input9 {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.hint-text9 {
  flex-direction: row;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
}
.text-input9 {
  flex-direction: column;
  gap: var(--gap-5xs);
}
.input-label10,
.placeholder-text {
  position: relative;
  display: inline-block;
}
.input-label10 {
  flex: 1;
  line-height: 24px;
  min-width: 54px;
  max-width: 100%;
}
.placeholder-text {
  text-decoration: underline;
  line-height: 20px;
  min-width: 34px;
}
.input-container14,
.placeholder-text-wrapper,
.text-input10 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.placeholder-text-wrapper {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
  font-size: var(--ui-type-text-sm-s-size);
  color: var(--brand-main-bulma);
  font-family: var(--font-dm-serif-display);
}
.input-container14,
.text-input10 {
  flex-direction: row;
}
.input-container14 {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--brand-main-goten);
  border: 1px solid var(--light-beerus-beerus);
  box-sizing: border-box;
  padding: var(--padding-base) var(--padding-mini);
  max-width: 100%;
}
.text-input10 {
  width: 433px;
}
.box,
.icon2 {
  position: absolute;
  height: 66.67%;
  width: 66.67%;
  top: 16.67%;
  right: 16.67%;
  bottom: 16.67%;
  left: 16.67%;
}
.box {
  border-color: var(--brand-main-trunks);
  accent-color: #687083;
  cursor: pointer;
  margin: 0;
  border-radius: var(--br-3xs);
  background-color: var(--brand-main-trunks);
}
.icon2 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.checkbox {
  height: 24px;
  width: 24px;
  position: relative;
}
.placeholder-text1 {
  position: relative;
  line-height: 24px;
}
.checkbox-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.box1,
.icon3 {
  position: absolute;
  height: 66.67%;
  width: 66.67%;
  top: 16.67%;
  right: 16.67%;
  bottom: 16.67%;
  left: 16.67%;
}
.box1 {
  border-color: var(--brand-main-trunks);
  accent-color: #687083;
  cursor: pointer;
  margin: 0;
  border-radius: var(--br-3xs);
  background-color: var(--brand-main-trunks);
}
.icon3 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.checkbox1 {
  height: 24px;
  width: 24px;
  position: relative;
}
.placeholder-text2 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 123px;
}
.checkbox-group,
.frame-parent29 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-parent29 {
  gap: var(--gap-xs);
  max-width: 100%;
}
.box2,
.icon4 {
  position: absolute;
  height: 66.67%;
  width: 66.67%;
  top: 16.67%;
  right: 16.67%;
  bottom: 16.67%;
  left: 16.67%;
}
.box2 {
  border-color: var(--brand-main-trunks);
  accent-color: #687083;
  cursor: pointer;
  margin: 0;
  border-radius: var(--br-3xs);
  background-color: var(--brand-main-trunks);
}
.icon4 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.checkbox2 {
  height: 24px;
  width: 24px;
  position: relative;
}
.placeholder-text3 {
  position: relative;
  line-height: 24px;
}
.checkbox-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.box3,
.icon5 {
  position: absolute;
  height: 66.67%;
  width: 66.67%;
  top: 16.67%;
  right: 16.67%;
  bottom: 16.67%;
  left: 16.67%;
}
.box3 {
  border-color: var(--brand-main-trunks);
  accent-color: #687083;
  cursor: pointer;
  margin: 0;
  border-radius: var(--br-3xs);
  background-color: var(--brand-main-trunks);
}
.icon5 {
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.checkbox3 {
  height: 24px;
  width: 24px;
  position: relative;
}
.placeholder-text4 {
  position: relative;
  line-height: 24px;
  display: inline-block;
  min-width: 70px;
}
.checkbox-parent1,
.frame-parent28,
.frame-parent30 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frame-parent28,
.frame-parent30 {
  gap: var(--gap-xs);
}
.frame-parent28 {
  width: 351px;
  flex-direction: column;
  gap: var(--gap-5xs);
  font-size: var(--paragraph-text-xs-r-size);
  color: var(--brand-main-bulma);
}
.input-label11,
.placeholder-text5 {
  position: relative;
  display: inline-block;
}
.input-label11 {
  flex: 1;
  line-height: 24px;
  min-width: 106px;
  max-width: 100%;
}
.placeholder-text5 {
  text-decoration: underline;
  line-height: 20px;
  min-width: 34px;
}
.placeholder-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
  font-size: var(--ui-type-text-sm-s-size);
  color: var(--brand-main-bulma);
  font-family: var(--font-dm-serif-display);
}
.checkbox-with-label,
.input-container15,
.text-input11 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-container15 {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--brand-main-goten);
  border: 1px solid var(--light-beerus-beerus);
  box-sizing: border-box;
  padding: var(--padding-base) var(--padding-mini);
  max-width: 100%;
}
.checkbox-with-label,
.text-input11 {
  width: 100%;
}
.checkbox-with-label {
  overflow-y: auto;
  flex-direction: column;
  gap: var(--gap-xs);
  max-width: 100%;
  font-size: var(--paragraph-text-md-regualr-size);
}
.by-proceeding-you {
  line-height: 16px;
}
.span2 {
  font-size: var(--paragraph-text-md-regualr-size);
  line-height: 24px;
}
.general-terms {
  text-decoration: underline;
}
.general-terms-conditions-of {
  line-height: 16px;
}
.by-proceeding-you-container {
  align-self: stretch;
  position: relative;
  color: var(--brand-main-bulma);
  font-family: var(--font-dm-serif-display);
}
.button-text13 {
  width: 64px;
  position: relative;
  font-size: var(--paragraph-text-md-regualr-size);
  line-height: 24px;
  font-weight: 500;
  font-family: var(--paragraph-text-md-regualr);
  color: var(--brand-main-goten);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 64px;
}
.line-icon,
.mds-tw-button13 {
  align-self: stretch;
  overflow: hidden;
}
.mds-tw-button13 {
  cursor: pointer;
  border: 0;
  padding: var(--size-120) var(--padding-xl);
  background: var(--Brand-main-piccolo, #5C33CF);
  border-radius: var(--mds-button-radius);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  box-sizing: border-box;
  text-decoration: none;
  min-height: 48px;
}
.line-icon {
  height: 1px;
  position: relative;
  max-width: 100%;
  flex-shrink: 0;
}
.vector-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-6xs);
  box-sizing: border-box;
  min-width: 128px;
}
.or-continue-with {
  width: 14px;
  position: relative;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 14px;
}
.frame-child18 {
  align-self: stretch;
  height: 1px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
}
.vector-frame {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-6xs);
  box-sizing: border-box;
  min-width: 128px;
}
.frame-parent31 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: var(--gap-xs);
  text-align: center;
  color: var(--light-trunks);
}
.icon-social-google {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 24px;
}
.button-text14 {
  align-self: stretch;
  position: relative;
  font-size: var(--ui-type-text-sm-s-size);
  line-height: 20px;
  font-family: var(--paragraph-text-md-regualr);
  color: var(--brand-main-bulma);
  text-align: center;
}
.checkbox-icon {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
  min-width: 245px;
}
.button1,
.checkbox-icon,
.metric-item-container,
.metric-item1 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-base);
  background-color: var(--light-beerus-beerus);
  align-self: stretch;
  border-radius: var(--br-19xl);
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  row-gap: 20px;
}
.metric-item-container,
.metric-item1 {
  flex-direction: column;
  justify-content: flex-start;
}
.metric-item1 {
  align-self: stretch;
  border-radius: var(--br-4xs);
  background-color: var(--brand-main-goten);
  box-shadow: var(--light-shadow-xs);
  border: 1px solid var(--gray-200);
  padding: var(--padding-13xl) var(--padding-4xl);
  gap: var(--gap-5xl);
}
.metric-item-container {
  flex: 1;
  padding: var(--padding-33xl) 0 0;
  min-width: 313px;
  font-size: var(--paragraph-text-xs-r-size);
  color: var(--brand-main-trunks);
}
.metric-item-button-value-parent {
  width: 1093px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 132px;
  max-width: 100%;
  text-align: left;
  font-size: var(--ui-type-text-sm-s-size);
  color: var(--brand-main-goten);
  font-family: var(--paragraph-text-md-regualr);
}
.login,
.login-inner,
.metric-item-button-value-parent {
  display: flex;
  align-items: flex-start;
}
.login-inner {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  max-width: 100%;
}
.login {
  position: relative;
  background-color: var(--brand-main-goten);
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--body-large-size);
  color: var(--gray-600);
  font-family: var(--paragraph-text-md-regualr);
}
@media screen and (max-width: 1100px) {
  .metric-item-button-value-parent {
    gap: 66px;
  }
}
@media screen and (max-width: 1025px) {
  .sign-up {
    font-size: var(--font-size-7xl);
  }
  .metric-item1 {
    padding-top: var(--padding-2xl);
    padding-bottom: var(--padding-2xl);
    box-sizing: border-box;
  }
  .metric-item-container {
    padding-top: var(--padding-15xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .metric-item-button-value-parent {
    gap: var(--gap-14xl);
  }
  
}
@media screen and (max-width: 450px) {
  .sign-up {
    font-size: var(--font-size-lgi);
  }
  .or-continue-with {
    width: 100%;
    height: 14px;
  }
  .button1,
  .frame-parent31 {
    flex-wrap: wrap;
  }
  .metric-item1 {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .metric-item-container {
    padding-top: 22px;
    box-sizing: border-box;
  }
  .metric-item-button-value-parent {
    gap: var(--gap-base);
  }

  .metric-item-button-value {
    display: none;
  }
   .checkbox-with-label{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
   }
  .frame-parent28,
  .frame-parent30,
  .frame-parent29 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
  }

  .frame-parent30,
  .frame-parent29 {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    gap: 12px;
    align-self: stretch;
    flex-wrap: wrap;
  }

 .vector-container,
   .vector-frame {
    display: none;
    
    
  }

  .metric-item-container, .metric-item1{
    align-items: flex-start;
    gap: 24px;
  }
}
